<html>
    <head>
      <meta http-equiv="refresh" content="60" >
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
      <title>Project</title>
    </head>
    <body class="color_body">
        <div class="navbar1">
            <a href="{{ url_for('createparty') }}" style="float: left">Home</a>
            <a href="{{ url_for('logout') }}" style="float: right">Logout</a>
            <a href="{{ url_for('allreports') }}" style="float: right">All Reports</a>
            <a href="{{ url_for('allplaylist') }}" style="float: right">View Playlists</a>
            <a href="{{ url_for('createplaylist') }}" style="float: right">Create Playlist</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      <br>
      <br>
      <br>
      <div>

        <div class="col-md-4 report_body_left">
        <div class="row top">
        <h3 class="report_header">Pending Song Requests:</h3>
                <table class="report_table_5">
                {% for song in songs %}
                <tr>
                    {% set testing1 = 'css/images/' ~ song.song_id ~ '.jpg' %}
                    {% set another1 = testing1 %}
                    <td><img src="{{ url_for('static', filename=another1) }}" alt="Song Image" class="small_img"></td>
                    <td class="td_report_3"> 
                        <table>
                            <tr>
                                <td class="song_name1">{{ song.song_name }}</td>
                            </tr>
                            <tr>
                                <td class="artist_name1"> {{ song.song_artist }}</td>
                            </tr>
                        </table>
                    </td>
                    <td class="td_report_2"><button class="btn btn-sm search-btn2" type="button" onclick="window.location.href='{{ url_for('dj',playlist_id=playlist.playlist_id,song_id=song.song_id) }}'"><span class="glyphicon glyphicon-ok-circle"></button></td>
                    <td class="td_report_2"></button><button class="btn btn-sm search-btn2" type="button" onclick="window.location.href='{{ url_for('djreject',playlist_id=playlist.playlist_id,song_id=song.song_id) }}'"><span class="glyphicon glyphicon-remove-sign"></button></td>
                </tr>
                {% endfor %}
                </table>

        {% if accepts %}
            <h3>Accepted Song Requests are:</h3>
            <table class="report_table_5">
                {% for s in accepts %}
                <tr>
                    {% set testing2 = 'css/images/' ~ s.song_id ~ '.jpg' %}
                    {% set another2 = testing2 %}
                    <td><img src="{{ url_for('static', filename=another2) }}" alt="Song Image" class="small_img"></td>
                    <td class="td_report_3"> 
                        <table>
                            <tr>
                                <td class="song_name1">{{ s.song_name }}</td>
                            </tr>
                            <tr>
                                <td class="artist_name1"> {{ s.song_artist }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        </div>
        <div class="row bottom1">
             <input class="btn btn-sm search-btn2" type="button" onclick="location.href='/stopparty/{{party.party_id}}/{{playlist.playlist_id}}';" value="End Party" />
        </div>
        </div>

        <div class="col-md-8 report_body_right">
          <div class="row top">
          <h3> Current Playlist: {{playlist.playlist_name}}</h3>

            <table class="report_table_5">
                {%- for row in playlist_songs|batch(4, '&nbsp;') %}
                <tr>
                    {%- for column in row %}
                        {% if column.song_id %}
                            {% set testing4 = 'css/images/' ~ column.song_id ~ '.jpg' %}
                            {% set another4 = testing4 %}
                            <td style="height:80px" ><img src="{{ url_for('static', filename=another4) }}" alt="Song Image" class="small_img"></td>
                            <td class="td_report_6">
                            <table>
                            <tr>
                                <td class="song_name">{{column.song_name}}</td>
                            </tr>
                            <tr>
                                <td class="artist_name">{{column.song_artist}}</td>
                            </tr>
                            </table>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {%- endfor %}
                </tr>
                {%- endfor %}
            </table>
            </div>
            <div class="row bottom">
            <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                        {{ form.song_name.label }}<br>
                        {{ form.song_name(size=20,class="form-control1") }}
                        {% for error in form.song_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    {{ form.submit(class_="btn btn-sm search-btn2") }}
            </form>
            </div>
        </div>
      <!-- <div class="row bottom">
        <input class="btn btn-lg search-btn" type="button" onclick="location.href='/stopparty/{{party.party_id}}/{{playlist.playlist_id}}';" value="Stop Party" />
        <input class="btn btn-lg search-btn" type="button" onclick="location.href='/report/{{party.party_id}}/{{playlist.playlist_id}}';" value="View Report" />
      </div> -->
    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script>
            $(document).ready(function(){
                var songs=[];

                function loadSongs(){
                $.getJSON('/songautocomplete2', function(data, status, xhr){
                    for (var i = 0; i < data.length; i++ ) {
                        songs.push(data[i].song_name);
                    }
                });
                };

                loadSongs();

                $('#song_name').autocomplete({
                    
                    source: function(request, response) {
                        var results1 = $.ui.autocomplete.filter(songs, request.term);

                        response(results1.slice(0, 3));
                    },
                    messages: {
                        noResults: '',
                        results: function() {}
                    }
                });

            }); 
        </script>


    </body>
</html>
