<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
      <title>Project</title>
    </head>
    <body style="background-image:url({{ url_for('static', filename='css/images/back.jpg') }}); background-repeat: no-repeat; background-attachment: fixed;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="errors">
        <ul class="error_msg">
            {% for message in messages %}
            <li class="error_text">{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% endwith %}
        <div class="login">
            <b><h1>Let's get this Party started!</h1></b>
            <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="form_label">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="form_label">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <br>
                <p>{{ form.submit(class_="btn btn-lg submit-btn") }}</p>
                <p>New User? <b><a href="{{ url_for('register') }}" class="register_link">Click to Register!</a></b></p>
            </form>
        </div>
    </body>
</html>